/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap'); /*bangla*/
@import url('https://fonts.googleapis.com/css2?family=Katibeh&display=swap');/*arabic*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');/*english*/

#english{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}
#bangla{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
}
#arabic{
    font-family: 'Katibeh', cursive;
    font-size: 25px;
}

/* new css */

body {
    overflow-x: hidden;
 }
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#menu-toggle{
    background-color: darkcyan;
    margin-bottom: 20px;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: darkcyan;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width: 568px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #bangla{
        font-size: 30px;
        text-align: left;
    }
    #english{
        font-size: 30px;
        text-align: left;
    }
    #arabic{
        font-size: 35px;
        text-align: right;
    }
}
.display-5{
    color: #fff;
}
li{
    color: #fff;
    cursor: pointer;
}
#gif{
    position: fixed;
    width: 100%;
    left: 0;
    height: 30px;
    top: auto;
    text-align: center;
    z-index: 1000;
    justify-content: center;
}














































/* old css */

/* *{
    margin: 0 !important;
    padding: 0;
}
#surah,
#show,
#showed,
#showing{
    font-family: 'Kiwi Maru', serif;
    font-family: 'Harmattan', sans-serif;
}
h3{
    font-family: 'Kiwi Maru', serif;
    border-bottom: 1px solid rgb(171, 246, 246);
    padding-bottom: 10px;
}
#showed{
    text-align: end;
    font-size: 35px;
}
#show{
    font-family: 'Baloo Da 2', cursive;
}
li{
    list-style-type: none;
    margin: 0 !important;
    border-bottom: 1px solid rgb(171, 246, 246);
}
li:hover{
    background-color:  rgb(162, 230, 230);
    transition: .4s;
}
nav{
    text-decoration: #fff;
} */